<footer class="footer">
    <nav class="footer__menu_1">
        <ul class="footer__menu_1__list">
            <li class="footer__menu_1__item"><a class="footer__menu_1__link link_hover" href="">Link1</a></li>
            <li class="footer__menu_1__item"><a class="footer__menu_1__link link_hover" href="">Link2</a></li>
            <li class="footer__menu_1__item"><a class="footer__menu_1__link link_hover" href="">Link3</a></li>
            <li class="footer__menu_1__item"><a class="footer__menu_1__link link_hover" href="">Link4</a></li>

        </ul>
    </nav>
    <nav class="footer__menu_2">
        <ul class="footer__menu_2__list">
            <li class="footer__menu_2__item"><a class="footer__menu_2__link link_hover" href="">Fb</a></li>
            <li class="footer__menu_2__item"><a class="footer__menu_2__link link_hover" href="">Tw</a></li>
            <li class="footer__menu_2__item"><a class="footer__menu_2__link link_hover" href="">G+</a></li>
        </ul>
    </nav>
</footer>