<header class="header">
    <section class="header__section">
        <div class="header__img_wrapper"><a class="header__img_wrapper__link" href="index.html"><img
                    class="header__img_wrapper__img" src="./assets/images/logo.png" alt="LayoutDeEjemplo Logo"></a>
        </div>
        <h1 class="header__main_title">LayoutDeEjemplo</h1>
    </section>
    <nav class="header__menu">
        <ul class="header__menu__list">
            <li class="header__menu__item"><a class="header__menu__link" href="">Link1</a></li>
            <li class="header__menu__item"><a class="header__menu__link" href="">Link2</a></li>
            <li class="header__menu__item"><a class="header__menu__link" href="">Link3</a></li>
            <li class="header__menu__item"><a class="header__menu__link" href="">Link4</a></li>
        </ul>
    </nav>
</header>