<main class="main">
    <section class="main__section">
        <include src="./article.html" articleTitle="Lorem ipsum dolor sit amet" articleText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem temporibus
        minima veritatis
        assumenda, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
        voluptate maxime fuga"></include>
        <include src="./highlightedArticle.html" highlightedArticleTitle="Lorem ipsum dolor sit amet"
            highlightedArticleText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem
        temporibus minima veritatis
        assumenda, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
        voluptate maxime fuga"></include>
        <include src="./article.html" articleTitle="Lorem ipsum dolor sit amet" articleText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque alias, rem temporibus
        minima veritatis
        assumenda, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
        voluptate maxime fuga"></include>
    </section>
    <include src="./aside.html"></include>
</main>