//Font
$mainFont: 'Roboto', sans-serif;

//Colors
$mainColor: rgb(251, 154, 57);
$secondaryColor: green;
$navMainColor: rgba(169, 7, 7, 0.6);
$navSecondaryColor: rgb(135, 59, 3);
$linkColor: white;
$textColor: black;
