.main__article {
  padding-left: 4.5%;
  padding-right: 7.2%;
  padding-top: 4.3%;
  padding-bottom: 4%;
  text-align: left;
  font-family: $mainFont;
  @include tablet {
    padding-left: 4.5%;
    padding-right: 7.2%;
    padding-top: 3.2%;
    padding-bottom: 3.5%;
  }
  @include desktop {
    padding-left: 3.5%;
    padding-right: 5%;
    padding-top: 3.5%;
    padding-bottom: 2.8%;
  }
  &__title {
    font-size: rem(25);
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 12.5px;
    @include tablet {
      margin-bottom: 20px;
    }
    @include desktop {
      margin-bottom: 12px;
      font-size: rem(23);
    }
  }
  &__text {
    font-size: rem(18);
    @include tablet {
      font-size: rem(17);
    }
    @include desktop {
      font-size: rem(15);
    }
  }
}
