.main__aside {
  display: none;
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $secondaryColor;
    gap: 20px;
  }
  &__section {
    @include tablet {
      width: 190px;
      height: 125px;
      margin-top: 2%;
      margin-bottom: 2%;
      background-color: $mainColor;
    }
  }
}
