.main__article_highlighted {
  margin-left: 4.5%;
  margin-right: 5%;
  padding-top: 4%;
  padding-bottom: 3.5%;
  text-align: left;
  font-family: $mainFont;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @include tablet {
    margin-left: 4.5%;
    margin-right: 6.5%;
    padding-top: 4%;
    padding-bottom: 3.5%;
  }
  &__title {
    font-size: rem(25);
    font-weight: 800;
    letter-spacing: 1.2px;
    margin-bottom: 16.5px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__text {
    width: 90%;
    font-size: rem(18);
    padding-left: 21px;
    border-left: 4px solid rgba(128, 128, 128, 0.4);
    position: relative;
    left: 31px;
    @include tablet {
      font-size: rem(17);
    }
  }
}
