.footer {
  width: 100%;
  height: 17.5vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  @include tablet {
    height: 11vh;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
  @include desktop {
    height: 9.5vh;
  }
  &__menu_1 {
    width: 80%;
    @include tablet {
      width: 43%;
      margin-left: 3.3%;
    }
    @include desktop {
      width: 21.8%;
      margin-left: 8%;
    }
    &__list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      background-color: $navMainColor;
    }
    &__item {
      text-align: center;
    }
    &__link {
      display: block;
      padding: 15%;
      padding-left: 18%;
      text-decoration: none;
      color: $linkColor;
      font-size: rem(16);
      font-weight: 400;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-color: rgba(249, 124, 124, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s;
      }
      @include tablet {
        padding-left: 17%;
        font-size: rem(15);
      }
      @include desktop {
        font-size: rem(13);
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
  &__menu_2 {
    width: 31%;
    @include tablet {
      width: 20%;
      padding-right: 3%;
    }
    @include desktop {
      width: 19.3%;
      padding-right: 7.3%;
    }
    &__list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      align-items: center;
      background-color: $navSecondaryColor;
    }
    &__item {
      text-align: center;
    }
    &__link {
      display: block;
      padding: 27%;
      text-decoration: none;
      color: $linkColor;
      font-size: rem(16);
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(245, 211, 139, 0.2);
        transition: transform 0.3s;
      }
      @include tablet {
        padding: 26%;
        padding-right: 30%;
        font-size: rem(15);
      }
      @include desktop {
        font-size: rem(13);
        padding-top: 13.5px;
        padding-bottom: 13.5px;
      }
    }
  }
}
