.footer {
  width: 100vw;
  height: 18.7vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  &__menu_1 {
    width: 82%;
    &__list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
      background-color: $navMainColor;
    }
    &__item {
      text-align: center;
    }
    &__link {
      display: block;
      padding: 15%;
      padding-left: 18%;
      text-decoration: none;
      color: $linkColor;
      font-size: rem(17);
      font-weight: 400;
    }
  }
  &__menu_2 {
    width: 33%;
    &__list {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      align-items: center;
      background-color: $navSecondaryColor;
    }
    &__item {
      text-align: center;
    }
    &__link {
      display: block;
      padding: 27%;
      text-decoration: none;
      color: $linkColor;
      font-size: rem(17.6);
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
