.header {
  width: 100vw;
  height: 20.8vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: $mainFont;
  &__section {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: rem(33);
    margin-bottom: 25px;
  }
  &__img_wrapper {
    margin-top: 2px;
    width: 50px;
    height: 50px;
    &__link {
    }
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__menu {
    width: 100%;
    background-color: $navColor;
    &__list {
      display: flex;
      justify-content: space-around;
    }
    &__item {
      padding: 17px;
    }
    &__link {
      padding: 14px;
      text-decoration: none;
      color: white;
      font-size: rem(17);
    }
  }
}
