.header {
  width: 100vw;
  height: 20.8vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: $mainFont;
  @include tablet {
    height: 25vh;
  }
  @include desktop {
    height: 12.7vh;
    flex-direction: row;
    justify-content: space-between;
  }
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.8px;
    font-size: rem(33);
    margin-bottom: 27.5px;
    @include tablet {
      font-size: rem(37);
      margin-bottom: 40px;
    }
    @include desktop {
      font-size: rem(32);
      margin-bottom: 9px;
      margin-left: 8%;
    }
  }
  &__img_wrapper {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    &__link {
      padding-top: 5px;
      position: relative;
      bottom: 8.9px;
      right: 2px;
    }
    &__img {
      width: 100%;
      height: 100%;
      position: relative;
      top: 9px;
    }
  }
  &__main_title {
    margin-top: 3px;
    @include tablet {
      margin-top: 2px;
    }
  }
  &__menu {
    width: 100%;
    background-color: $navMainColor;
    @include desktop {
      width: 40%;
      margin-right: 7.5%;
    }
    &__list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
    }
    &__item {
      text-align: center;
    }
    &__link {
      display: block;
      padding: 13.3%;
      text-decoration: none;
      color: $linkColor;
      font-size: rem(17);
      font-weight: 400;
      @include tablet {
        padding: 9.5%;
        font-size: rem(18);
      }
      @include desktop {
        padding: 15px;
        font-size: rem(15);
      }
    }
  }
}
