.header {
  width: 100%;
  height: 19vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: $mainFont;
  @include tablet {
    height: 22.5vh;
  }
  @include desktop {
    height: 12vh;
    flex-direction: row;
    justify-content: space-between;
  }
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.8px;
    font-size: 201%;
    margin-bottom: 28px;
    @include tablet {
      font-size: rem(37);
      margin-bottom: 38px;
    }
    @include desktop {
      font-size: rem(28);
      margin-bottom: 7px;
      margin-left: 8%;
    }
  }
  &__img_wrapper {
    width: 50px;
    height: 50px;
    margin-top: 2px;
    @include desktop {
      width: 45px;
      height: 45px;
    }
    &__link {
      padding-top: 5px;
      position: relative;
      bottom: 8.9px;
      right: 2px;
    }
    &__img {
      width: 100%;
      height: 100%;
      position: relative;
      top: 9px;
    }
  }
  &__main_title {
    margin-top: 2px;
    @include tablet {
      margin-top: 0px;
    }
    @include desktop {
      margin-top: 2px;
    }
  }
  &__menu {
    width: 100%;
    background-color: $navMainColor;
    @include desktop {
      width: 40%;
      margin-right: 7.3%;
      margin-bottom: 8px;
    }
    &__list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto;
    }
    &__item {
      text-align: center;
    }
    &__link {
      display: block;
      padding: 13%;
      text-decoration: none;
      color: $linkColor;
      font-size: rem(17);
      font-weight: 400;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-color: rgba(255, 135, 135, 0.2);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s;
      }
      @include tablet {
        padding: 7.4%;
        font-size: rem(18);
      }
      @include desktop {
        padding: 13.5px;
        font-size: rem(14);
      }
    }
  }
}
